{% extends 'admin/master.html' %}

{% block body %}



{% if current_user.is_authenticated %}
<h1 class="text-center text-success">THỐNG KÊ DOANH THU THEO THÁNG</h1>
<div class="row">
    <div class="col-md-5 col-sm-12">
        <table class="table">
            <tr>
                <th>Ngày</th>
                <th>Tour</th>
                <th>Doanh thu</th>
                <th>Tỷ lệ</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ "{:,.0f}".format(s[2]) }} $</td>
                <td>{{ "{:,.2f}".format((s[2]/total[0])*100) }} %</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-sm-12">
        <form>
             <div class="form-group">
                 <label>Nhập tháng muốn thống kê</label>
                <input type="text" name="month" class="form-control"  />
            </div>
            <div>
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info" />
            </div>
        </form>
        <canvas id="revenueStats"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/tk.js') }}"></script>
<script>
    let labels = []
    let data = []
    {% for s in stats %}
    labels.push('{{ s[1] }}')
    data.push({{ s[2] }})
    {% endfor %}
    window.onload = function() {
        drawRevenueChart(labels, data)
    }
</script>
{% else %}
<h1 class="text-center text-danger">ĐĂNG NHẬP ADMIN</h1>

<form method="post" action="{{ url_for('signin_admin') }}">

    <div class="form-group">
        <label for="name">Tên đăng nhập:</label>
        <input type="text" class="form-control" id="username" name="username" required/>
    </div>

    <div class="form-group">
        <label for="pass">Mật khẩu:</label>
        <input type="password" class="form-control" id="pass" name="password" required/>
    </div>

    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>


{% endif %}


{% endblock %}