{% extends 'layout/base.html' %}

{% block title %}Quên Mật Khẩu{% endblock %}

{% block content %}
<h1 class="text-center text-danger">ĐẶT LẠI MẬT KHẨU</h1>

{% if mgs %}
<div class="alert alert-sucess">
    <h3>{{ mgs }}</h3>
</div>
{% endif %}

<form method="post" action="{{ url_for('pass_register') }}">
    <div class="form-group">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" class="form-control" id="username" name="username" required/>
    </div>
     <div class="form-group">
        <label for="pass">Mật khẩu:</label>
        <input type="password" class="form-control" id="pass" name="password" required/>
    </div>

    <div class="form-group">
        <label for="confirm">Xác nhận mật khẩu:</label>
        <input type="password" class="form-control" id="confirm" name="confirm"/>
    </div>
    <button type="submit" class="btn btn-primary">Xác nhận</button>
</form>
{% endblock %}