{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<h1 class="tieudelog">ĐĂNG KÝ</h1>

{% if err_msg %}
<div class="thongbaoerr">
    <h3>{{ err_msg }}</h3>
</div>
{% endif %}

<form method="post" action="{{ url_for('user_register') }}">
    <div class="form-group">
        <label for="name">Họ tên:</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required/>
    </div>

    <div class="form-group">
        <label for="name">Tên đăng nhập:</label>
        <input type="text" class="form-control" id="username" name="username" required/>
    </div>

    <div class="form-group">
        <label for="pass">Mật khẩu:</label>
        <input type="password" class="form-control" id="pass" name="password" required/>
    </div>

    <div class="form-group">
        <label for="confirm">Xác nhận mật khẩu:</label>
        <input type="password" class="form-control" id="confirm" name="confirm"/>
    </div>

    <div class="form-group1">
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </div>
</form>
{% endblock %}