<div class="footer">
  <div class="gioithieu">
            <div class=logogt1>
                <div class="logogt">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" />
                </div>
            </div>

            <div class="hotro" >
                <ul class="hotro1">
                    <li>
                        <h3><i class="fas fa-map-marker-alt"></i> Chi Nhánh Hồ Chí Minh</h3>
                        <p>Quận 10 - 561 Sư Vạn Hạnh, Phường 13<br></p>
                        <p>Quận Gò Vấp - 371 Nguyễn Kiệm, Phường 3.<br></p>
                        <p>Quận Tân Bình - 136 Nguyễn Hồng Đào, Phường 4.<br></p>
                    </li>

                    <li>
                        <h3><i class="fas fa-map-marker-alt"></i> Chi Nhánh Hà Nội:</h3>
                        <p>Cầu Giấy - 28 Khúc Thừa Dụ.<br></p>
                        <p>Đống Đa - 49-51 Hồ Đắc Di, Nam Đồng.<br></p>
                    </li>
                    <li>
                        <h3> Mạng xã hội</h3>
                        <p><a href="https://www.facebook.com/VietnamBookingCorp" target ="_blank" style="color:rgb(75, 75, 75);"><i class="fab fa-facebook"> Facebook </i><br></a></p>
                        <p><a href="https://www.youtube.com/channel/UCYWE2IgZ9q05Kn8EfUCZbBQ" target ="_blank" style="color:rgb(75, 75, 75);"><i class="fab fa-youtube"> Youtute </i><br></a></p>
                        <p><a href="https://www.instagram.com/vietnambookingcorp/" target ="_blank" style="color:rgb(75, 75, 75);"><i class="fab fa-brands fa-instagram"> Instagram </i><br></a></p>
                    </li>
                    <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9356596756434!2d106.67562481481599!3d10.816235861415189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528e19559e523%3A0x8e4133bdb1373cc9!2zMzcxIE5ndXnhu4VuIEtp4buHbSwgUGjGsOG7nW5nIDMsIEfDsiBW4bqlcCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1628511888924!5m2!1svi!2s" width="484" height="180" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </li>
                </ul>
            </div>
        </div>
</div>
